# Build directories
build/
bin/
lib/
_skbuild/
dist/
*.egg-info/

# Python cache & compiled binaries
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll

# IDE and OS files
.vscode/
.idea/
.vs/
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar
